.footer {
  width: 100%;
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}